{% extends "layout.html" %}

{% block content %}
<!-- CONTENT  -->
<!-- CONTENT  -->
<!-- CONTENT  -->
<div class="jumbotron">
  <h1 class="display-4">HOME!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Lorem ipsum.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<!-- CONTENT  -->
<!-- CONTENT  -->
<!-- CONTENT  -->
{% endblock %}