<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Python web</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- BOOTSTRAP -->
	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- CSS -->
</head>
<body>
	<!-- NAV VAR  -->
	<!-- NAV VAR  -->
	<!-- Image and text -->
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	  <a class="navbar-bran text-primary" href="#">Python</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link text-primary" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link text-primary" href="/about">Features</a>
	      </li>	     
	    </ul>
	  </div>
	</nav>
	<!-- NAV VAR  -->
	<!-- NAV VAR  -->

	<!-- CONTENT  -->
	<!-- CONTENT  -->
	<!-- CONTENT  -->
	<div class="container p-4">
		
		{% block content %}
		{% endblock %}

	</div>
	<!-- CONTENT  -->
	<!-- CONTENT  -->
	<!-- CONTENT  -->

	
</body>
</html>